body{
    background-image: url("a-red-sunset-over-mountains-hd-wallpaper-4k-background-4njdsgfc.jpeg");
    
}



.a{
    background-color: black;
    margin: auto;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;


}



h1{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    padding: 10px;

}
.ku{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(63, 54, 54);
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}